*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
CW03/[Dd]ebug/
CW03/[Dd]ebugPublic/
CW03/[Rr]elease/
CW03/[Rr]eleases/
CW03/x64/
CW03/x86/
CW03/build/
CW03/bld/
CW03/[Bb]in/
CW03/[Oo]bj/
CW03/[Oo]ut/
CW03/msbuild.log
CW03/msbuild.err
CW03/msbuild.wrn

# Visual Studio 2015
.vs/
/bin/Debug
/obj
