@model CW03.Models.Folder

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Folder</h4>
<hr />
<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookmarkType" class="control-label"></label>
                <select asp-for="BookmarkType" asp-items="@ViewBag.Types" class="form-control"></select>
                <span asp-validation-for="BookmarkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input asp-for="ReadOnly" type="hidden" />
            <div class="form-group">
                <label asp-for="ParentPath" class="control-label"></label>
                <input asp-for="ParentPath" class="form-control" readonly="" />
                <span asp-validation-for="ParentPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="reset" value="Reset" class="btn btn-danger" />
                <input type="button" class="btn btn-default" onclick="goBack()" value="Go Back" />
            </div>
        </form>
    </div>
</div>

<script>
function goBack() {
    window.history.back();
}
</script>
