
@{
    ViewData["Title"] = "Charts";
}
<br/>
<div>
    <a class="btn btn-info" asp-action="OrgChart">Google Org Chart</a>
    <a class="btn btn-info" asp-action="TreeMap">Google Treemap</a>
    <a class="btn btn-default" asp-controller="/Home" asp-action="Index">Back to Home</a>
</div>
